In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("Hello Spark") \
        .master("local[3]") \
        .getOrCreate()

your 131072x1 screen size is bogus. expect trouble

In [2]:
path = "data/online_retail.csv"
df = spark.read.csv(path, inferSchema=True, header=True, mode="FAILFAST")

In [3]:
df.show(10)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 10 rows

In [4]:
# 1. Quantos registros existem no dataset?
df.count()

541909

In [6]:
# 2. Quais são as colunas disponíveis no dataset e seus tipos de dados?
df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

In [7]:
# 3. Quantos produtos únicos existem no dataset?
df.select("Description") \
    .distinct() \
    .count()

4224

In [19]:
# 4. Qual é o produto mais vendido (em quantidade)?
from pyspark.sql.functions import *
df.groupBy("Description")\
    .count() \
    .orderBy(desc("count")) \
    .show(1)

+--------------------+-----+
|         Description|count|
+--------------------+-----+
|WHITE HANGING HEA...| 2369|
+--------------------+-----+
only showing top 1 row

In [23]:
# 5. Qual é o faturamento total da loja?
df.select(sum(expr("UnitPrice * Quantity"))) \
    .show()

+---------------------------+
|sum((UnitPrice * Quantity))|
+---------------------------+
|          9747747.933998296|
+---------------------------+

In [24]:
# 6. Quais são os cinco países com mais transações
df.groupBy("Country")\
    .count() \
    .orderBy(desc("count")) \
    .show(5)

+--------------+------+
|       Country| count|
+--------------+------+
|United Kingdom|495478|
|       Germany|  9495|
|        France|  8557|
|          EIRE|  8196|
|         Spain|  2533|
+--------------+------+
only showing top 5 rows

In [27]:
# 7. Qual é a média de preço dos produtos vendidos?
df.select(avg("UnitPrice").alias("average_price")) \
    .show()

+-----------------+
|    average_price|
+-----------------+
|4.611113626086822|
+-----------------+

In [65]:
# 8. Quantas transações ocorreram por mês?
df_8 = df.withColumn("InvoiceDate", to_timestamp(col("InvoiceDate"), "M/d/yyyy H:mm"))
df_8 = df_8.withColumn("invoice_month_year", to_date("InvoiceDate", "MM/yyyy"))
df_8.groupBy("invoice_month_year") \
    .agg(count_distinct("InvoiceNo").alias("num_transactions")) \
    .orderBy(desc("invoice_month_year")) \
    .show(5)

+------------------+----------------+
|invoice_month_year|num_transactions|
+------------------+----------------+
|        2011-12-09|              49|
|        2011-12-08|             145|
|        2011-12-07|             138|
|        2011-12-06|             149|
|        2011-12-05|             151|
+------------------+----------------+
only showing top 5 rows

In [ ]:
# Intermediarias
# 9. Qual foi o mês com o maior faturamento?

In [ ]:
# 10. Quais produtos geraram mais receita (top 10)?

In [ ]:
# 11. Existem valores ausentes no dataset? Quais colunas estão mais afetadas?

In [ ]:
# 12. Qual é a distribuição de transações por dia da semana?

In [ ]:
# 13. Quantas transações envolveram devoluções (quantidade negativa)?

In [ ]:
# 14. Qual cliente gerou mais receita para a loja?

In [ ]:
# 15. Qual foi o preço médio de produtos comprados por país?

In [67]:
# 16. Qual é a relação entre a quantidade comprada e o preço (análise de correlação)?

In [ ]:
# Avançadas
# 17. Quais produtos são frequentemente comprados juntos (análise de cestas de mercado)?

In [ ]:
# 18.

In [66]:
df.show(5)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 5 rows